.wpec_image{position:relative;overflow:hidden !important;}
/*Quick View Under Image*/
.product_grid_display .item_image a.wpec_quick_view_ultimate_under_button,.product_grid_display .item_image a.wpec_quick_view_ultimate_under_link{height:auto !important; line-height: inherit !important;}
a.wpec_quick_view_ultimate_under_button {
	white-space: nowrap;
	text-decoration:none !important;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: inline-block !important;
	padding: 4px 14px 4px;
	color: #fff;
	text-decoration: none;
	border:none;
	position: relative;
	cursor: pointer;
	padding: 4px 14px 4px;
	border: 1px solid #4e7aa6;
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#7497b9), to(#4b6e90));
	background: -webkit-linear-gradient(#7497b9, #4b6e90);
	background: -moz-linear-gradient(center top, #7497b9 0%, #4b6e90 100%);
	background: -moz-gradient(center top, #7497b9 0%, #4b6e90 100%);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1);
	height:auto !important;
}
.wpec_quick_view_ultimate_content_under a.wpec_quick_view_ultimate_under_button:hover {
	opacity:0.9;
}

/*Quick View On Hover*/
.wpec_quick_view_ultimate_container {
	display:none;
}
.product_hover .wpec_quick_view_ultimate_container {
	display: block !important;
	left: 0;
	position: absolute;
	width: 100%;
	text-align:center;
	z-index:999;
}
.wpec_quick_view_ultimate_container .wpec_quick_view_ultimate_content {
	width: 100%;
	text-align:center;
	clear:both;
	height:auto;
	max-height:100%;
	position:relative;
	display:block;
}
.product_hover .wpec_quick_view_ultimate_container span{padding-top:15px;padding-bottom:15px;display:block;}
.product_hover .wpec_quick_view_ultimate_container span {
	vertical-align:middle;
	white-space: nowrap;
	text-decoration:none !important;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: inline-block !important;
	padding: 4px 14px 4px;
	color: #fff;
	text-decoration: none;
	border:none;
	position: relative;
	cursor: pointer;
	padding: 4px 14px 4px;
	border: 1px solid #FFFFFF;
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
	background: -webkit-linear-gradient(#000000, #000000);
	background: -moz-linear-gradient(center top, #000000 0%, #000000 100%);
	background: -moz-gradient(center top, #000000 0%, #000000 100%);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 0 15px #999999;
	-moz-box-shadow: 0 0 15px #999999;
	-webkit-box-shadow: 0 0 15px #999999;
	z-index:1;
}
#fancybox-outer {
	padding:0px !important;
}
@media only screen and (max-width: 568px) {
	#fancybox-content {
		border:5px solid #FFFFFF !important;
		width:auto !important;
	}
	#fancybox-outer {
		padding:0px !important;
	}
}
